{% extends "base.html" %}
{% block content %}
{% include 'nav_bar.html' %}
    <div class= "container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} alter-dismissable fade show" role="alert">{{ message }}
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div id="form_template">
            <a class="nav-link" href="/account" style="text-decoration:none;"> 
                <button type="button" name="goBack" id="large_button" class="btn btn-primary">Back to Account</button>
            </a>
        </div>

        {% if pastOrders == [] %}
        <div id="form_template">
            <h1>View Order History</h1>
            <p>You have not ordered anything in the past.</p>
        </div>
        {% else %}
            <div id="form_template">
                <h1 style="text-align:center;">View Order History</h1>
            </div>
            {% for orderGroup in pastOrders %}
                <div id="form_template">
                    {% for product in orderGroup %}
                        {% if product.order_ref %}
                            <h2>Order Summary - #{{ product.order_ref }}</h2>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-3">
                                {% if product.image == "no_image" %}
                                    <img src="../static/product_images/no_image.jpg" alt="{{ product.name }}" id="image_fit" class="d-block w-100">
                                {% else %}
                                    <img src="{{ url_for('renderImage', image_id=product.image) }}" alt="{{ product.name }}" id="image_fit" class="d-block w-100">
                                {% endif %}
                            </div>

                            <div class="col-md-5">
                                <p><strong>{{ product.name }}</strong><br>
                                <em>{{ product.description }}</em></p>
                            </div>
                            
                            <div class="col-md-4">
                                <p style="text-align:right;"> <strong>Price:</strong> £{{ product.price }}<br>
                                    <strong>Quantity:</strong> {{ product.quantity }}
                                </p>                 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    
{% endblock %} 